@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
}
body{
	display: grid;
	place-items: center;
	height:100vh;
}
.main{
    position: relative;
    overflow: hidden;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(to bottom right,#3ab744,#57c299);
    box-shadow: 0.1px 4px 8px 4px rgba(0,0,0,0.5);
}

/*top_section*/
.top_section{
  cursor: pointer;
  margin: 0;
  background: green;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_section h5{
	color: #fff;
	font-size: 1.5em;
  padding: 10px 0;
	font-family: 'Charmonman', cursive;
}


/*tracks part*/
.tracks{
  width: 100%;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 1px 0 10px 0;
  padding-bottom: 50px;
}
.tracks::-webkit-scrollbar {
  display: none;
}
.tracks .song:not(:first-child){
  margin-top: 1em;
}
.tracks .song{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 5px;
  border-radius: 0 20px 20px 20px;
  cursor: pointer;
  box-shadow: 0.1px 2px 2px rgba(0,0,0,0.1);
  transition: .5s ease-in-out;
}
.tracks .song:hover{
 background: grey;

}
.tracks .song .more{
  margin-left: .2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tracks .song .song_info p:nth-child(2){
  font-size: 0.8em;
  margin-top: 10px;
  color: rgba(255,255,255,0.5);
}
.tracks .song  #play_btn{
  height: 50px;
  width: 50px;
  border:none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  color: #fff;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
			inset -5px -5px 15px rgba(255,255,255,0.1),
			-5px -5px 15px rgba(255,255,255,0.1);
      transition: .3s ease-in;
}
.tracks .song button i{
			font-size: 1.5em;
}
.tracks .song #play_btn:hover{
  background: green;
}
.tracks .song:not(:first-child){
			margin-top: 15px;
}
.tracks .song .img{
  height: 80px;
  width: 85px;
  overflow: hidden;
  border-radius: 50%;
}
.tracks .song .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}



/*controlls part*/
.controlls{
		   width: 100%;
}
.settings{
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
  cursor: pointer;
}
.progress_part{
  padding: 0 30px;
			width: 100%;
			margin-bottom: .5em;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;
}
.progress_part p{
  color: #fff;
}
.progress_part .durations{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
} 
.progress_part #slider{
  width: 100%;
}
.controlls_btns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.controlls_btns button{
  height: 50px;   
  width: 50px;   
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 0.5em;
  background: none;
  transition: 0.5s;
  border-radius: 50%;
  
}
.controlls_btns button:hover{	
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
			inset -5px -5px 15px rgba(255,255,255,0.1),
			5px 5px 15px rgba(0,0,0,0.3),
			-5px -5px 15px rgba(255,255,255,0.1);
      backdrop-filter: blur(2px);
}
.controlls_btns button i{
  font-size: 1.3em;
}

.controlls_btns button:nth-child(2){
  border-radius: 50%;
  background: teal;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
			inset -5px -5px 15px rgba(255,255,255,0.1),
			5px 5px 15px rgba(0,0,0,0.3),
			-5px -5px 15px rgba(255,255,255,0.1);
}
.controlls_btns button i{
  color: #fff;
}


/*range slider*/
#slider{
  -webkit-appearance: none;
  outline: none;
  width: 85%;
  height: 4px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  background: teal;
  box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2) inset,
	            0.1px 8px 8px 2px rgba(0,0,0,0.2);
}


/*popup_music_player part*/
.main .popup_music_player{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.925);
  padding: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px 15px 0 0;
  transform: translateY(10%);
  transition: 0.4s;
  box-shadow: 0.1px 4px 8px 4px rgba(0,0,0,0.5);
}
.main .popup_music_player::before{
position: absolute;
content: "";
background: url('images/bak.jpg') no-repeat center;
opacity: 0.5;
width: 100%;
height: 100%;
z-index: -1;
}

/*top*/
.top{
  width: 100%;
  padding: 10px 20px;
  color: #ccc;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(5px);
}
.top p{
  font-family: 'Charmonman', cursive;
}
.top i{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
background: rgba(255, 255, 255, 0.918);
}
.popup_music_player .song_img{
margin-top: 2.6em;
height: 200px;
width: 200px;
border-radius: 50%;
overflow: hidden;
box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
            inset -5px -5px 15px rgba(255,255,255,0.1),
			5px 5px 15px rgba(0,0,0,0.3),
			-5px -5px 15px rgba(255,255,255,0.1);
}
.popup_music_player img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: spin 5s .1s linear infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
    100%{
      transform: rotate(360deg);
    }
  
  
}
.song_description{
  width: 100%;
  margin-top: 1em;
  padding: 10px 0;
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
  flex-direction: column;
}
.song_description h3{
  font-size: 1.2em;
  color: #fff;
}
.song_description p{
  color: teal;
  margin-top: 5px;
}

/*small music player*/
.small_music_player{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 20px 20px 0 0;
  background: green;
  transition: 0.4s;
  transform: translateY(80px);
  cursor: pointer;
}
.s_player_img{
  position: relative;
  height: 100px;
  width: 80px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 2em;
  box-shadow: 0.1px 2px 8px  black;
}
.playing_img{
  height: 100%;
  width: 100%;
  opacity: 1;
}
.small_music_player p{
  color: white;
  font-weight: bolder;
}
.s_player_img .playing_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#up_player{
  position: absolute;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(17, 17, 17, 0.842);	
}
#artist_name{
  font-size: 0.8em;
  margin-top: 5px;
  color: white;
}


/*wave animation*/
.wave_animation{
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  opacity: 0;
}
.wave_animation li{
  list-style: none;
  width: 5px;
  margin: 0 3px;
  border-radius: 15px;
  background: green;
  animation: animate 0.3s linear alternate infinite;
			
}
.wave_animation li:nth-child(2){
  background:  red;
  animation-delay: 0.5s;
}
.wave_animation li:nth-child(3){
  animation-delay: 1s;
   background:  purple;
}
.wave_animation li:nth-child(4){
  animation-delay: 0.2s;
   background:  red;
}
.wave_animation li:nth-child(5){
  animation-delay: .31s;
   background:  gold;
}
.wave_animation li:nth-child(6){
  animation-delay: 0.1s;
   background:  teal;
}
.wave_animation li:nth-child(7){
  animation-delay: 1s;
   background:  red;
  height: 5px;
}
.wave_animation li:nth-child(8){
  animation-delay: 0.2s;
}
.wave_animation li:nth-child(9){
  animation-delay: 0.1s;
  background: red;
}
/*animation*/
@keyframes animate {
  0%{
    height: 0px;
    width: 5px;
  }
  100%{
	height: 40px;
  background:cyan;
  }
}


